
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actores de Mr Robot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item *ngFor = "let personaje of personajes">
      <ion-avatar slot="start">
        <img src="{{personaje.image}}">
      </ion-avatar>
      <ion-label>{{personaje.name}}</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/perfiles/' + personaje.id]">Ver perfil</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
